<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            @ViewData ["Title"] - Dashboard_MVC
        </title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link
            rel="stylesheet"
            href="~/css/site.css"
            asp-append-version="true" />
        <link
            rel="stylesheet"
            href="~/Dashboard_MVC.styles.css"
            asp-append-version="true" />
        @* style *@
        <link
            rel="stylesheet"
            href="~/css/custom.css"
            asp-append-version="true" />
        @* fontawesome *@
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />
        @* for browser refresh *@
        <script src="/_framework/aspnetcore-browser-refresh.js"></script>
    </head>

    <body class="container-fluid">
            <main class="col-10 border rounded-start-4 p-4">
                @RenderBody()
            </main>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
    
</html>
