@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-fluid ">
    <div class="row gy-5">
        <div class="col-8 d-flex justify-content-between p-5 | hero-container container-1">
            <div class="text-light ">
                <p class="fw-medium | tracking-wide">Visits For Today</p>
                <p class="| big-text">889</p>

                <div class="d-flex column-gap-3">
                    <div class="text-center">
                        <div class="icon-holder">
                            <i class="fa-regular fa-star fs-3"></i>
                        </div>
                        <p class="fw-light mt-4">Popularity</p>
                        <p class="fw-bold fs-2">94</p>
                    </div>
                    <div class="text-center">
                        <div class="icon-holder">
                            <i class="fa-solid fa-arrow-trend-up fs-3"></i>
                        </div>
                        <p class="fw-light mt-4">General Rate</p>
                        <p class="fw-bold fs-2">4.7</p>
                    </div>
                </div>

            </div>
            <div>


            </div>
        </div>

        <div class="col-4 | hero-container container-2">
            Another one
        </div>
    </div>




</div>